OverwatchStats.WCF.Test/Service References/ProfileService/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51937/ProfileService/ProfileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51937/ProfileService/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51937/ProfileService/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" />
      <xsd:import schemaLocation="http://localhost:51937/ProfileService/ProfileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_GetOrCreateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrCreateProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetOrCreateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrCreateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_RetrieveProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProfile" />
  </wsdl:message>
  <wsdl:message name="IProfileService_RetrieveProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_RetieveAllProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:RetieveAllProfiles" />
  </wsdl:message>
  <wsdl:message name="IProfileService_RetieveAllProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetieveAllProfilesResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="GetOrCreateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GetOrCreateProfile" message="tns:IProfileService_GetOrCreateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GetOrCreateProfileResponse" message="tns:IProfileService_GetOrCreateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/RetrieveProfile" message="tns:IProfileService_RetrieveProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/RetrieveProfileResponse" message="tns:IProfileService_RetrieveProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetieveAllProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/RetieveAllProfiles" message="tns:IProfileService_RetieveAllProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/RetieveAllProfilesResponse" message="tns:IProfileService_RetieveAllProfiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileService" type="tns:IProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOrCreateProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileService/GetOrCreateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProfile">
      <soap:operation soapAction="http://tempuri.org/IProfileService/RetrieveProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetieveAllProfiles">
      <soap:operation soapAction="http://tempuri.org/IProfileService/RetieveAllProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="BasicHttpBinding_IProfileService" binding="tns:BasicHttpBinding_IProfileService">
      <soap:address location="http://localhost:51937/ProfileService/ProfileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>