OverwatchStats.WCF.Test/Service References/ProfileService/ProfileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51937/ProfileService/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" />
  <xs:element name="GetOrCreateProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="platformId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrCreateProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" minOccurs="0" name="GetOrCreateProfileResult" nillable="true" type="q1:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="regionId" type="xs:int" />
        <xs:element minOccurs="0" name="platformId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" minOccurs="0" name="RetrieveProfileResult" nillable="true" type="q2:Profile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetieveAllProfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetieveAllProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" minOccurs="0" name="RetieveAllProfilesResult" nillable="true" type="q3:ArrayOfProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>