OverwatchStats.WCF.Test/Service References/CombatService/CombatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51937/CombatService/CombatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51937/CombatService/CombatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" />
  <xs:element name="GetLatestCompetitiveCombatStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileGuid" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestCompetitiveCombatStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" minOccurs="0" name="GetLatestCompetitiveCombatStatsResult" nillable="true" type="q2:OverallCombat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompetitiveCombatStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileGuid" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompetitiveCombatStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" minOccurs="0" name="GetAllCompetitiveCombatStatsResult" nillable="true" type="q4:ArrayOfOverallCombat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLatestCombatStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileGuid" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" minOccurs="0" name="combatRecord" nillable="true" type="q6:OverallCombat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLatestCombatStatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>