OverwatchStats.WCF.Test/Service References/CombatService/CombatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CombatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51937/CombatService/CombatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51937/CombatService/CombatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51937/CombatService/CombatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OverwatchStats.Common.Data.General" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICombatService_GetLatestCompetitiveCombatStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestCompetitiveCombatStats" />
  </wsdl:message>
  <wsdl:message name="ICombatService_GetLatestCompetitiveCombatStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestCompetitiveCombatStatsResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatService_GetAllCompetitiveCombatStats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetitiveCombatStats" />
  </wsdl:message>
  <wsdl:message name="ICombatService_GetAllCompetitiveCombatStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCompetitiveCombatStatsResponse" />
  </wsdl:message>
  <wsdl:message name="ICombatService_InsertLatestCombatStats_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLatestCombatStats" />
  </wsdl:message>
  <wsdl:message name="ICombatService_InsertLatestCombatStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLatestCombatStatsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICombatService">
    <wsdl:operation name="GetLatestCompetitiveCombatStats">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatService/GetLatestCompetitiveCombatStats" message="tns:ICombatService_GetLatestCompetitiveCombatStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatService/GetLatestCompetitiveCombatStatsResponse" message="tns:ICombatService_GetLatestCompetitiveCombatStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetitiveCombatStats">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatService/GetAllCompetitiveCombatStats" message="tns:ICombatService_GetAllCompetitiveCombatStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatService/GetAllCompetitiveCombatStatsResponse" message="tns:ICombatService_GetAllCompetitiveCombatStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLatestCombatStats">
      <wsdl:input wsaw:Action="http://tempuri.org/ICombatService/InsertLatestCombatStats" message="tns:ICombatService_InsertLatestCombatStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICombatService/InsertLatestCombatStatsResponse" message="tns:ICombatService_InsertLatestCombatStats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICombatService" type="tns:ICombatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLatestCompetitiveCombatStats">
      <soap:operation soapAction="http://tempuri.org/ICombatService/GetLatestCompetitiveCombatStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompetitiveCombatStats">
      <soap:operation soapAction="http://tempuri.org/ICombatService/GetAllCompetitiveCombatStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLatestCombatStats">
      <soap:operation soapAction="http://tempuri.org/ICombatService/InsertLatestCombatStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CombatService">
    <wsdl:port name="BasicHttpBinding_ICombatService" binding="tns:BasicHttpBinding_ICombatService">
      <soap:address location="http://localhost:51937/CombatService/CombatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>